@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HOLA</h1>
    <p>Esto solo es un ejemplo sencillo de CRUD de ASP.net CORE + DOCKER + SQLSERVER</p>
    <h4>PARA PROBAR EL CRUD VE A @Html.ActionLink("FACTURACIÓN", "Index", "Receipts")</h4>
</div>
